.settings/
.settings
.classpath
.project
.metadata
*.classpath
*.ldb
.DS_Store
.svn*
*.swp
*.jasper
bin
target
META-INF/
/NDS_replica.eap
/nds-client/src/main/webapp/capas/13.jpg
/nds-client/src/main/java/applicationContext.xml
/nds-client/velocity.log
/nds-client/.externalToolBuilders/*
packages
node_modules
/nds-client/src/main/resources/applicationContext-local.xml
/nds-client/src/test/java/br/com/abril/nds/client/util/RepositoryTest.java
nds-test/
nds-estudo-algoritmo/.classpath
/nds-server/WebContent/
nds-client/src/main/webapp/temp/
integracao.sh
nds-client/src/main/java/br/com/abril/nds/testeLocal/
nds-client/src/main/webapp/images/tmp/
nds-integration-server/src/test/resources/prophecies.properties
nds-integration-server/src/main/resources/prophecies.properties
nds-integration-server/src/main/resources/ndsi-database.properties
nds-integration-server/src/main/resources/couchdb.properties
nds-integration-client/src/main/resources/prophecies.properties
nds-integration-client/src/main/resources/ndsi-database.properties
nds-integration-client/src/main/resources/couchdb.properties
nds-rollout/*.log
nds-rollout/logs/*.log
nfe/nfe/