.settings
.classpath
.project
.metadata
bin
target
META-INF/
.svn*
/NDS_replica.eap
.DS_Store
*.ldb
/nds-client/src/main/webapp/capas/13.jpg
/nds-client/src/main/java/applicationContext.xml
/nds-client/velocity.log
*.swp
