<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="br.com.abril.nds" level="INFO"/>
	
	<logger name="org.hibernate.typeorg.hibernate.hql.ast.AST" level="ERROR"/>
  	<logger name="org.hibernate.tool.hbm2ddl" level="ERROR" />
  	<logger name="org.hibernate.hql" level="DEBUG" />
  	<logger name="org.hibernate.cache" level="ERROR" />
  	<logger name="org.hibernate.jdbc" level="DEBUG" />
  	<logger name="org.hibernate.SQL" level="WARN" />
  	<logger name="org.hibernate.type" level="TRACE" />
</configuration>