<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.1.xsd 
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee-3.1.xsd 
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-3.1.xsd 
						http://www.springframework.org/schema/task 
						http://www.springframework.org/schema/task/spring-task-3.1.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
						http://www.springframework.org/schema/cache 
						http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:component-scan base-package="br.com.abril.nds.server" />
	
	<util:properties id="properties" location="classpath:/nds-server.properties" />
	
	<bean class="com.ancientprogramming.fixedformat4j.format.impl.FixedFormatManagerImpl"/>
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- TOMCAT -->
	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/nds-server"/>
	
	<jee:jndi-lookup  id="couchDbProperties" jndi-name="java:comp/env/couchDbProperties" />

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="br.com.abril.nds.server.model" />
		<property name="hibernateProperties">
			<props>			
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>				
				<prop key="hibernate.connection.characterEncoding">UTF-8</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				
				<!-- prop key="hibernate.hbm2ddl.auto">update</prop -->
				<prop key="hibernate.c3p0.min_size">5</prop>	
				<prop key="hibernate.c3p0.max_size">20</prop>	
				<prop key="hibernate.c3p0.timeout">300</prop>	
				<prop key="hibernate.c3p0.max_statements">50</prop>	
				<prop key="hibernate.c3p0.idle_test_period">3000</prop>				
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="jobFactoryBean" class="br.com.abril.nds.server.quartz.AutowiringSpringBeanJobFactory"></bean>
	
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    	<property name="configLocation" value="classpath:quartz.properties"/>
        <property name="jobFactory" ref="jobFactoryBean"/>
	</bean>

</beans>