<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%10(%d{yyyy-MM-dd;HH:mm:ss}) [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

 
 <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
      <smtpHost>smtp3.treelog.com.br</smtpHost>
       <smtpPort>25</smtpPort>
      <from>novodistrib@dgb.com.br</from>
      <to>odemir.olivatti_INFO@abril.com.br</to>
      <username>teste</username>
    <password>rTZ0PAtThz</password>
      <subject>ERRO NDS SERVIDOR=%property{HOSTNAME} INTEGRACAO SERVER </subject>
      <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date %-5level %logger - %message%n</pattern>
    </layout> 

      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
      </filter>
  </appender>
 
 
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EMAIL" />
	</root>
	
	
	
	<logger name="br.com.abril.nds" level="DEBUG"/>
</configuration>