<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

 <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
      <smtpHost>smtp.uol.com.br</smtpHost>
       <smtpPort>587</smtpPort>
      <from>odemir.olivatti@uol.com.br</from>
      <to>odemir.olivatti@gmail.com</to>
      <username>odemir.olivatti@uol.com.br</username>
    <password>sophie@08</password>
      <subject>ERRO NDS INTEGRACAO SERVER SERVIDOR=%property{HOSTNAME}  %{CONTEXT_NAME} %logger{20} - %m</subject>
      <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date %-5level %logger - %message%n</pattern>
    </layout> 

      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
      </filter>
  </appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EMAIL" />
	</root>
	
	
	
	<logger name="br.com.abril.nds" level="DEBUG"/>
</configuration>