<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			
			<jdbc-user-service role-prefix="none" data-source-ref="dataSource"
				users-by-username-query="SELECT login, senha, 'true' as enable FROM usuario WHERE login=?"
				authorities-by-username-query="SELECT u.login, pg.nome FROM usuario u, permissao pg, grupo_permissoes_permissao gp, usuario_grupo_permissoes gu WHERE u.login = ? AND u.id = gu.usuario_id AND gu.gruposPermissoes_ID = gp.GRUPO_PERMISSOES_ID AND pg.id = gp.permissoes_ID AND NOT EXISTS ( SELECT 1 FROM usuario_excessao_permissao up WHERE u.id = up.usuario_id AND pg.id = up.permissao_id AND gu.gruposPermissoes_ID = up.GRUPO_PERMISSOES_ID)" />
			
		</authentication-provider>
	</authentication-manager>
	
	<beans:import resource="applicationContext-security-common.xml"/>
</beans:beans>
