<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%10(%d{yyyy-MM-dd;HH:mm:ss}) [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- APPENDER PARA LOG DAS FUNCIONALIDADES DO SISTEMA -->
	<appender name="FILE_FUNCIONAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${catalina.home}/logs/funcional.log</file>
    	<append>true</append>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>funcional.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>30</maxHistory>      		
    	</rollingPolicy>
		
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">   
	      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
	        <marker>MARKER_LOG_FUNCIONAL</marker>
	      </evaluator>
	     <onMismatch>DENY</onMismatch>
	     <onMatch>ACCEPT</onMatch>
	   </filter>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%10(%d{yyyy-MM-dd;HH:mm:ss}) - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	
		
	<appender name="FILE_ERRO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${catalina.home}/logs/erros.log</file>
    	<append>true</append>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>erros.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>30</maxHistory>      		
    	</rollingPolicy>
		
	 <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>

		<encoder>
			<pattern>%10(%d{yyyy-MM-dd;HH:mm:ss}) [%thread] %-5level %logger - %msg%n
			</pattern>
			
		</encoder>
		
	</appender>

	  <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
      <smtpHost>smtp3.totalexpress.com.br</smtpHost>
       <smtpPort>25</smtpPort>
      <from>novodistrib@dgb.com.br</from>
    
       <to>odemir.olivatti_vector@abril.com.br</to>
       <to>luiz.moreira_VECTOR@abril.com.br</to>
       <to>felipe.ballario_VECTOR@abril.com.br</to>
    
      <username>Relay_NDS</username>
    <password>$QZNr5m%H34WATSc</password>
      <subject>ERRO NDS SERVIDOR=%property{HOSTNAME} %property{SSH_CONNECTION} %m APLICACAO %property{catalina.base} </subject>
      <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date %-5level %logger - %message%n</pattern>
    </layout> 

      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
      </filter>
  </appender>
	
	
	<!-- APPENDER PARA LOG DAS FUNCIONALIDADES REFERENTE AO FECHAMENTO DIARIO -->
	<appender name="FILE_FECHAR_DIA" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${catalina.home}/logs/fecharDia.log</file>
    	<append>true</append>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>fecharDia.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>30</maxHistory>      		
    	</rollingPolicy>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd;HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- APPENDER PARA LOG DAS FUNCIONALIDADES REFERENTE A ENVIO DE E-MAIL BOLETOS -->
	<appender name="FILE_ENVIO_EMAIL_BOLETO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${catalina.home}/logs/envioEmailBoletos.log</file>
    	<append>true</append>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>envioEmailBoletos.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>30</maxHistory>      		
    	</rollingPolicy>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd;HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- APPENDER PARA PROFILER DE SERVICES E REPOSITORIES DO SISTEMA -->
	<appender name="NDS_PROFILER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>${catalina.home}/logs/NDSProfiler.log</file>
    	<append>true</append>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>NDSProfiler.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>10</maxHistory>      		
    	</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%10(%d{yyyy-MM-dd;HH:mm:ss});%msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_ERRO" />
		<appender-ref ref="EMAIL" />
	</root>
	
	

	<logger name="br.com.abril.nds" level="WARN">
		 <appender-ref ref="FILE_FUNCIONAL" />
	</logger>
	
	<logger name="br.com.abril.nds.client.aop.profiler" level="DEBUG">
		 <appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="br.com.abril.nds.controllers.administracao.FecharDiaController" level="INFO" additivity="false">
		 <appender-ref ref="FILE_FECHAR_DIA" />
	</logger>
	
	<logger name="br.com.abril.nds.service.impl.FecharDiaServiceImpl" level="INFO" additivity="false">
		 <appender-ref ref="FILE_FECHAR_DIA" />
	</logger>
	
	
	<logger name="br.com.abril.nds.controllers.financeiro.BoletoEmailController" level="INFO" additivity="false">
		 <appender-ref ref="FILE_ENVIO_EMAIL_BOLETO" />
	</logger>
	
	<logger name="br.com.abril.nds.controllers.financeiro.BoletoEmailServiceImpl" level="INFO" additivity="false">
		 <appender-ref ref="FILE_ENVIO_EMAIL_BOLETO" />
	</logger>
	
	<logger name="br.com.abril.nds.client.aop.profiler" level="INFO" additivity="false">
		 <appender-ref ref="NDS_PROFILER" />
	</logger>
	
	<logger name="br.com.caelum.vraptor" level="ERROR"/>
	
	<logger name="org.springframework.jdbc" level="ERROR" />


	<!--  logger name="org.hibernate.typeorg.hibernate.hql.ast.AST" level="DEBUG"/>
  	<logger name="org.hibernate.tool.hbm2ddl" level="ERROR" />
  	<logger name="org.hibernate.hql" level="DEBUG" />
  	<logger name="org.hibernate.cache" level="ERROR" />
  	<logger name="org.hibernate.jdbc" level="DEBUG" />
  	<logger name="org.hibernate.SQL" level="DEBUG" /-->
	
</configuration>