<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd   
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd   
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	
	<context:annotation-config/>
	
	<context:component-scan base-package="br.com.abril.nds"/>
	
	<util:properties id="queries" location="classpath:/query.properties" />
	
	<task:annotation-driven/>
	
	<task:executor id="executorWithPoolSizeRange"
	               pool-size="5-25"
	               queue-capacity="100"/>
	
	<import resource="applicationContext-ndsi-persistence.xml" />
	
	<bean class="com.ancientprogramming.fixedformat4j.format.impl.FixedFormatManagerImpl"/>
	
	<bean id="jobFactoryBean" class="br.com.abril.nds.client.quartz.AutowiringSpringBeanJobFactory">
		<property name="enableQuartzTasks" value="false"/>
	</bean>
	
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    	<property name="configLocation" value="classpath:quartz.properties"/>
        <property name="jobFactory" ref="jobFactoryBean"/>
	</bean>
	
	<!-- 
	    Beans de assinatura 
	-->
	<bean id="signatureFactory" class="br.com.abril.nds.service.xml.nfe.signature.impl.DOMNFeSigantureFactoryBean">
	    <property name="providerName" value="jsr105Provider" />
	    <property name="providerClassName" value="org.jcp.xml.dsig.internal.dom.XMLDSigRI" />
	</bean>
	
    <bean id="keyInfoBuilder" class="br.com.abril.nds.service.xml.nfe.signature.impl.DOMNFeKeyInfoBuilder" />	
	
    <bean id="signatureHandler" class="br.com.abril.nds.service.xml.nfe.signature.impl.DOMNFeSignatureHandler" />	
	
	<bean id="signatureBuilder" class="br.com.abril.nds.service.xml.nfe.signature.impl.DOMNFeSignatureBuilder" />
	
	<bean id="nFeFileReader" class="br.com.abril.nds.service.xml.nfe.signature.impl.DOMNFeFileReader" />
	
	<bean id="keyStore" class="org.springframework.ws.soap.security.support.KeyStoreFactoryBean">
		
	</bean>
	
	<bean id="securityHandler" class="br.com.abril.nds.service.xml.nfe.signature.impl.SimpleSecurityHandlerBean">
		<property name="keyStore" ref="keyStore"/>
	</bean>
	
	<!-- 
	    DOM builder factory 
	-->
	<bean id="documentBuilderFactory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance">
		<property name="validating" value="true" />
		<property name="namespaceAware" value="true" />
	</bean>
	
	<!-- Web Services -->
	
	<!-- FTF -->
	<bean id="pessoaCRPService2Stub" class="br.com.abril.axis2.PessoaCRPService_2Stub" >
	     <constructor-arg value="http://absmclaph020.abril.com.br:14545/gateway/services/crpPessoaWS"/>
	</bean>
	
</beans>